# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
img/

.idea/asso_rando.iml
.idea/modules.xml
.idea/vcs.xml