/** GLOBAL **/

header { z-index: 1; }

body { background: #eee; }

i{ margin-right: 10px;}

.navbar-brand i{ color: #ffd500; }

/** FIN GLOBAL **/




/** HOME **/
#imgWhoWeAre{
    transform: rotateZ(-2deg);
}
#imgLastEvent{
    transform: rotateZ(2deg);
}

@media (max-width: 767px){
    #ctnBannerHome{
        display: none;
    }
    #ctnWhoWeAre{
        padding-top: 8vh;
    }
}

/** --- FIN HOME --- **/



/** EVENEMENT **/



/** --- FIN EVENEMENT --- **/




/**  CONTACT */



/* --- FIN CONTACT --- */






