body {
    background: #eee;
}
.btnSeeMore {
    background: #2c5e42;
    border: none;
}
.btn.btnSeeMore:hover {
    background: #2c5e42;
}
i{
    margin-right: 10px;
}

.navbar-brand i{
    color: #ffd500;
}

@media (max-width: 1000px) {
    #imgBannerHome{
        display: none;
    }
}

